:{$PORT:8080} {
	root * /srv
	encode gzip
	header /sw.js Cache-Control "no-cache"
	header *.html Cache-Control "no-cache"
	header *.json Cache-Control "no-cache"
	header *.csv Cache-Control "no-cache"
	file_server
}
